# K Nearest Neighbors : Titanic Dataset.

## 1.) Defining the Question

#### This research is aimed at conducting an analysis on the titanic dataset to determined the survival status using the K-Nearest Neighbors classifier. The set contains different attributes of the people within the titanic ship and with a deeper understanding of this attributes we can get to predict the survival status of the people while analysing the factors influencing the death vs survival status of the people in the ship.

### a.) Specifying the Question

#### The questions we aim to specifically answer are:
#### * Who survived the titanic disaster?
#### * Which is the strongest predictor of survival status?
#### * What are the factors that affected the survival of a passenger?
#### * Would one survive the titanic disaster given the attributes within the set eg. Age,Passanger class,Fare etc? (What we aim to predict)

### b.) Defining the Metric for Sucsess

#### Our success will be determined by our ability to predict the survival status of a passenger with minimal error in classification.

### c.) Understanding the context

#### RMS Titanic was a British passenger liner operated by the White Star Line that sank in the North Atlantic Ocean on 15 April 1912, after striking an iceberg during her maiden voyage from Southampton to New York City leading to the deaths of more than 1,500 passengers and crew. 
#### It included passangers of different social classes,ages and genders .We aim to study the factors that may have influenced the survival status of the passangers and with this we can predict the probability of survival of a passanger.

### d.) Experimental Design

#### This experiment will involve review and cleaning of the dataset while performing exploratory data analysisof both the training and testing set. We know well that our main objective is the prediction of survival status of the passengers.I will inturn optimize our model using different training and testing parameters with other optimization techiques fit for our models.
#### I will evaluate our model's classification skill and tune it to obtain the best estimator. I will provide further recomendation on how to improve the classifier into the best model.

### e.) Data Relevance

#### The data provided here in is relevant for analysis as it includes passenger information and the survival numbers of the actual titanic dataset. Our predictors are clearly defined and the target variable is clearly provided in the training set

## 2.) Reading the Data

In [9]:
# Importing all the necessary libraries for my analysis
# EDA and Cleaning
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Feature Engineering ,Preprocessing and Modeling
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [10]:
# train_url=https://archive.org/download/train5_202002/train%20%285%29.csv
# test_url= https://archive.org/download/test1_202002/test%20%281%29.csv
def DataFrame(url):
    df=pd.read_csv(url)
    return(df)

In [6]:
# Reading the train set
train_df=DataFrame('https://archive.org/download/train5_202002/train%20%285%29.csv')
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
# Reading the test set
test_df=DataFrame('https://archive.org/download/test1_202002/test%20%281%29.csv')
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## 3.) Checking the data

## 4.) External Data Source Validation

## 5.) Tidying the Dataset

In [7]:
# Outliers,Anomalies,Missing data,more cleaning and dealing with them

## 6.) Exploratory Data Analysis

In [8]:
# uni Bivariate and multi summaries and recording observation

## 7.) Implementing the Solution

### a.) Feature Engineering and Preprpcessing proceedures

## 8.) Challenging the solution

## 9.) Follow up questions

### a.) Did we have the right data?

### b.) Do we need other data to answer our question?

### c.) Did we have the right question?